

/* ==========================================================================
   AuricAG
   ========================================================================== */

body {
    background: #3d4144 url('../img/bg.jpg') no-repeat center top;
    background-size: cover;
    font-family: 'Average Sans', sans-serif;
}

.logo {
    width: 655px;
    height: 237px;
    background: url('../img/logo.png') no-repeat left top;
    display: block;
    margin: 20% auto;
}
.h1-text {
    background: none;
}
.nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: rgba(34, 34, 34, 0.25);
  line-height: 0px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 10px 0;
}
.container-main {
    margin-top: 100px;
}
.container-shift {
    margin-top: 1.5em;
}

/*bootstrap overrides*/
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inverse .navbar-collapse {
    text-align: center;
}

.nav > li > a {
    padding: 15px 30px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
a, a:hover,
a:visited, a:active {
    color: #f5c64e;
}
.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.2);
    border: none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(8, 8, 8, 0.12);
}
.jumbotron {
    background-color: #eee;
    background-color: rgba(238, 238, 238, 0.9);
}


a.btn-primary {
    color: #fff;
    background-color: #f5c64e;
    border: none;

}





.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

background-color: #f1b61f;
border: none;
}


.form-control:focus {
    border-color: #f5c64e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.retailers {
    list-style: none;
    font-size: 1em; 
    padding: 10px; 
    text-decoration: none;
}

       
a:hover {
           color: black;
       }







btn-primary.active, .open .dropdown-toggle.btn-primary {

background-color: #f1b61f;
border: none;
}


.form-control:focus {
    border-color: #f5c64e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}




@media (max-width: 768px) {
    .logo {
    width: 100%;
    margin-top: 200px;
    background-size: contain;
    }
    .navbar-inverse {
    background-color: #222;
    }
    .logo-sm {
        margin-top: 100px;
    }
}
@media (max-width: 360px) {
    #footer li {
        display: block;
        line-height: 18px;
        height: 18px;
    }
    #footer {
        height: 100px;
    }
    body {
      margin-bottom: 100px;
    }
    #footer .container .text-muted {
        margin: 0;
    }
}
