

/* ==========================================================================
   AuricAG
   ========================================================================== */

 * {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

body {
    background: #3d4144 url('../img/bg.jpg') no-repeat center top;
    background-size: cover;
    font-family: 'Average Sans', sans-serif;
}

.logo {
    width: 655px;
    height: 237px;
    background: url('../img/logo.png') no-repeat left top;
    display: block;
    margin: 20% auto;
}
.h1-text {
    background: none;
}
.nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: rgba(34, 34, 34, 0.25);
  line-height: 0px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.wrapper {
  color: gold;
  text-decoration: strong;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  width: 87%;
  max-width: 900px;
  margin: 0 auto 20px;
  overflow:hidden;
  position: relative;
  border: 1px solid grey;
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.item {
  height:250px;
  width:25%;
  float:left;
  background-position: left top;
  transition:width 0.5s ease;
  position: relative;
  z-index: 2;
}

.wrapper:hover .item {
  width:10%;
  transition:width 0.5s ease;
  cursor: hand;
  opacity: .9;
  size: 2em;
}

.wrapper .item:hover{
  width:70%;
  transition:width 0.5s ease;
}

.one {
    background-image:url(../img/SSSSDH.jpg);
}
.two {
  background-image:url(../img/DutchTreat3.jpg);
}

.three {
  background-image:url(../img/MauiWowie3.jpg);
}

.four {
  background-image:url(../img/SnoopsDream2.jpg);
}

.five {
  background-image:url(../img/AK47.jpg);
}

.six {
  background-image:url(../img/MauiTai.jpg);
}

.seven {
  background-image:url(../img/RippedBubba.jpg);
}

.eight {
  background-image:url(../img/Skunk1.jpg);
}

.catch {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
}

.catch:hover ~ .item {
  width:25%;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 10px 0;
}
.container-main {
    margin-top: 100px;
}
.container-shift {
    margin-top: 1.5em;
}

/*bootstrap overrides*/
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inverse .navbar-collapse {
    text-align: center;
}

.nav > li > a {
    padding: 15px 30px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
a, a:hover,
a:visited, a:active {
    color: #f5c64e;
}
.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.2);
    border: none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(8, 8, 8, 0.12);
}
.jumbotron {
    background-color: #eee;
    background-color: rgba(238, 238, 238, 0.9);
}


a.btn-primary {
    color: #fff;
    background-color: #f5c64e;
    border: none;

}





.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

background-color: #f1b61f;
border: none;
}


.form-control:focus {
    border-color: #f5c64e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.retailers {
    list-style: none;
    font-size: 1em;
    padding: 10px;
    text-decoration: none;
}


a:hover {
           color: black;
       }







btn-primary.active, .open .dropdown-toggle.btn-primary {

background-color: #f1b61f;
border: none;
}


.form-control:focus {
    border-color: #f5c64e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.retailers {
    list-style: none;
    font-size: 1em;
    padding: 10px;
    text-decoration: none;
}

.strain {
  color: white;
  font-weight: bold;
  size: 10em;
  text-align: center;
}

.image {
   position: relative;
   position: center;
   width: 100%; /* for IE 6 */
   height: 275px;
   overflow: hidden;
   border-radius: 1;
   margin-bottom: 20px;
}

h3 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

h3 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.reviews {
  color: black;
  size: 1.25em;
  text-decoration: none;
}

@media (max-width: 768px) {
    .logo {
    width: 100%;
    margin-top: 200px;
    background-size: contain;
    }
    .navbar-inverse {
    background-color: #222;
    }
    .logo-sm {
        margin-top: 100px;
    }
}
@media (max-width: 360px) {
    #footer li {
        display: block;
        line-height: 18px;
        height: 18px;
    }
    #footer {
        height: 100px;
    }
    body {
      margin-bottom: 100px;
    }
    #footer .container .text-muted {
        margin: 0;
    }
}
